@media (max-width: 768px) {
    /* -----------------<< HEADER {ON CLIK ANIMATION}>>---------------------- */

    body>header nav ul {
        visibility: hidden;
        opacity: 0;
        transition: .2s;
    }

    body>header .burger div {
        width: 30px;
        height: 5px;
        background-color: #333;
        transition: .3s;
    }

    body>header .burger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 20px 10px 0px -10px;
        transition: .2s;
    }

    #Active:checked~.burger div {
        background-color: red;
        transform: rotate(var(--deg)) translateY(var(--X)) translateX(var(--Y));
    }

    #Active:checked~.burger {
        transform: translateY(20px);
    }

    #Active:checked~.burger div:nth-child(3) {
        opacity: 0;
    }

    #Active:checked+nav ul {
        visibility: visible;
        opacity: 1;
    }
}

/* -----------------<< MAIN IMAGE BOX>>---------------------- */

@media (max-width: 1024px) {
    .boxs {
        flex-direction: column;
        max-height: none;
    }

    .img-box {
        max-width: none;
        max-height: none;
    }
}

@media (max-width: 768px) {
    .boxs {

        flex-direction: column;
        max-height: none;
        min-width: none;
        overflow: visible;
    }

    .img-box {
        min-width: 100px ;
        min-height: 100px ;
        width: 100%;
    }

    .main-content>h1 {
        font-size: 1.4em;

    }

    .box1,
    .box5 {
        display: block;
    }

    .box2,
    .box3,
    .box4 {
        display: none;
    }

    footer .social-media i {
        font-size: 1.1em;
    }
}
@media (max-width: 375px){
    .main-content h1{
        font-size: 1em;
    }
    .boxs{
        padding: 20px 0px;
    }
    .boxs .info-box *{
        font-size: .85em;
    } 
    .info-box{
        padding: 0px !important;
        margin: 0px;
    }
    footer{
        padding: 40px 0px;
    }
    footer .social-media i{
        font-size: .5em;
        margin: 0px;
    }
    footer > p{
        font-size: .6em !important;

    }
}